<div *ngFor="let review of reviews">
    <div style="padding: 20px; border: 1px solid gray; margin-bottom: 10px;">
        <h1><a routerLink="/review/{{review.reviewId}}">{{review.bookTitle}}</a><span> by {{review.bookAuthor}}</span></h1>
        <div style="display: flex;">
            <p style="flex: 1; font-size: 1.2rem;">{{review.summary}}</p>
            <img src={{review.imageUrl}} alt="Image for {{review.bookTitle}}" style="flex-basis: 100px;">
        </div>
        <div style="display: flex;">
            <div style="flex: 1;">
                <a routerLink="/review/{{review.reviewId}}" mat-flat-button color="primary">read the review</a>
            </div>
            <div style="flex: 1; line-height: 36px;">
                review written by {{review.reviewAuthor}} on {{review.reviewDate}}
            </div>
        </div>
    </div>
</div>
